*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('wallpaper.jpg');

    position: centre;
    background-size: cover;
}
a{
    text-decoration: none;
    color: white;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav{
    background-color: rgb(2, 78, 53);
    height: 40px;
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-items: center ;

}

nav ul{
    margin: auto;
    color: white;
}
nav ul li{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding: 8px 50px;
    font-size: 20px;
    color: white;

    
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li:hover{
    color: cyan;
    background-color: rgb(5, 141, 96);
}
nav ul li a:hover{
    color: cyan;
    
}
.search{
    margin: 8px ;
}
.logo{
    color: blanchedalmond;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 5px;
}
.container{
    display: flex;
    height: 90vh;
   
}
.container1{
    height: 100%;
    width: 10%;
    background-color: rgb(2, 78, 53);

}
.container1 ul{
    font-size: 18px;

}

.container1 ul  li{
   
    margin:  50px;
    list-style: none;
}
.container1 ul li a:hover{
    color: cyan;
}
    
.container2{
    height: 100%;
    width: 60%;
    background-color: transparent;
}
.container2 p{
    text-align: center;
    color: goldenrod;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    margin-top: 8rem

}

footer{
    background-color: purple;
    width: 100%;
    height: 20px;
   

}
.end{
    text-align: center;
    color: whitesmoke;
}